<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kushal.mealapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApplication">

        <!-- MainActivity declaration with exported attribute -->
        <activity android:name="com.kushal.mealapp.HomeActivity"
            android:exported="true"> <!-- Add android:exported here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kushal.mealapp.MainActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.AddMealActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.AddExpenditureActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.AddDepositActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.LoginActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.SummaryPopup"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity android:name="com.kushal.mealapp.SignupActivity" />
        <activity android:name="com.kushal.mealapp.Login1" />
        <activity android:name="com.kushal.mealapp.CalculatorPopup"
            tools:ignore="Instantiatable" />
        <activity android:name="com.kushal.mealapp.NameActivity"
            android:exported="true"/>
        <activity android:name="com.kushal.mealapp.Login2" />


    </application>

</manifest>
